.searchBarContainer
{
   height: 700px; 
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url('https://sm.ign.com/ign_za/video/p/pokemon-sw/pokemon-sword-and-shield-trailer-breakdown-gen-8-starters-le_85us.jpg');
}

.searchBarForm
{
    display: flex;
    align-items: center;
}

.searchBar
{
    width: 600px;
    height: 50px;
    font-size: 24px;
    background-color: rgba(248, 248, 248, 0.589);
    color: #111111;
    border-style: none;
    text-align: center;
    margin: 10px;
}

.searchBarSubmit
{
    height: 52px;   
}

.pokemon_container
{
    background-color: #353535;
}

.pokemon_container p,
.pokemon_container h5
{
    color: rgb(243, 242, 242);
}

.pokemon_container .headerInfos
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pokemon_container .headerInfos p
{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 900;
    padding: 5px 5px;
}

.pokemon_container .sprites
{
    display: flex;
    justify-content: center;
}

.pokemon_container .sprites img
{
    padding: 0 50px;
}

.pokemon_container .pokemon_infos
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

.pokemon_container .pokemon_infos div
{
    padding: 30px 100px 0 100px;
}

.pokemon_container .pokemon_infos div h5
{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 700;
}