.card--container
{
    display: flex;
}

.card--container div
{
    display: block;
    height: 100px;
    width: 300px;
    background-color: aqua;
    justify-content: space-around;
    margin:  0 120px;
    display: flex;
    align-items: center;
}

.cube 
{
    position: absolute;
    height: 101px;
    width: 100px;
    background-color: red;
}